// Dark theme
$backgroundDark: #232232;
$sidebarDark: #201f2d;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f3f4f5;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #ffb900;
